.body{
    margin: 0;
    font-family : Verdana, sans-serif;
    background-color: #c55883;
    color: #222
}
body{ background:linear-gradient( 135deg, #fff0f5, #ffd1dc, #ffb6c1, #fff5fa);
background-size: 400% 400%;
animation: backgroundMove 12s infinite ease;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

.header{
    background-color: linear-gradient(to right, #ff69b4,#ff1493, #000000);
    text-align: center;
    padding: 20px;
}
.logo h1{
    animation: glowText 3s infinite alternate;
}
@keyframes glowText{
    from{
        text-shadow: 0 0 8px #ff69b4;
    }
    to{
        text-shadow:
        0 0 15px #ff1493,
        0 0 25px #ffd700;
        
    }
}

.logo h1{
    font-size: 42px;
    margin-bottom: 5px;
    color: rgb(252, 9, 122);
}

.logo p{
    font-size: 18px;
    color: #e90878;
}

.nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: white;
    background-color:black;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
}
nav li a:hover{
    background-color: #ffb6c1;
    color: black;
}

button:hover {
    background-color: black;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: linear-gradient(to right, #cc0e8d, #f06078, #e70953);
}

.hero-text {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #ff69b4;
    color: black;
}

.hero img {
    width: 40% ;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.hero img{
    animation: floatImage 4s ease in-out infinite;
}
.hero-ext p{
    color: #4a4a4a;
    font-style: italic;
    animation: fadeInText 3s ease-in;
}
main{
    border-top: 5px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)1;
    padding: 30px;
    p{
        font-size : 20px;
        line-height: 1.8;
        color: #2b2b2b; 
        text-align:center;
        letter-spacing: 1px;
        padding: 10px;

    }
}
    .featured-products{
        background: linear-gradient(to right, #fff0f5, #ffe4ec);
        padding: 50px 20px;
        text-align: center;
        border-radius: 20px;
        margin: 30px auto;
    }
    .featured-products h2{
        font-size: 38px;
        color: #d81b60;
        margin-bottom: 30px;
        letter-spacing: 2px;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.12);
        animation :pulseHeading 2s infinite;
    }
    @keyframes pulseHeading{
        0%{transform: scale(1);}
        50%{transform: scale(1.03);}
        100%{transform: scale(1);}
        }
        .featured-products img{
            width: 280px;
            height: 220px;
            object-fit: cover;
            border-radius: 20px;
            margin: 15px;
            border: 4px solid gold;
            box-shadow: 0 8px 18px rgba(0,0,0,0.15);
        }
        .featured-products img:hover{
            transform: scale(1.08) rotate(2deg);
        }
        .featured-products img{
            animation: floatTreat 3s ease-in-out infinite;
        }
        @keyframes floatTreat{
            0%{transform: translateY(0);}
            50%{transform: translateY(-8px);}
            100%{transform: translateY(0);}
        }
.featured-poducts p{
    font-size: 18px;
    color: #444;
    line-height: 1.7;
    max-width: 700px;
    margin: 12px auto;
    background-color: rgba(255,225,255,0.75);
    padding: 12px;
    border-radius: 12px;
}
    .special-offers{
        background-color: #fff0f6;
        padding: 50px;
        text-align: center;
    }
    .special-offers h2{
        font-size: 36px;
        color: #d81b60;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    .special-offers img{
        width: 260px;
        height: 220px;
        object-fit: cover;
        border-radius: 18px;
        margin: 15px;
        border: 3px solid gold;
        box-shadow: 0 8px 18px rgba(0,0,0,0.15);
        transition: 0.5s
    }
    .special-offers img:hover{
        transform: scale(1.08);
    }

    .special-offers img{
        animation: floatImage 3s ease-in-out infinite;
    }
    @keyframes floatImage{
        0% {transform: translatey(0);}
        50% {transform: translatey(-10px);}
        100% {transform: translatey(0);}
}

.special-offers ul{
    list-style:none;
    margin-top: 25px;
    padding: 0;
}

.special-offers ul li{
    background-color:white;
    color: #111;
    font-size:18px;
    font-weight: bold;
    margin: 12px auto;
    padding: 16px;
    width: 75%;
    border-left: 6px solid gold;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.10);
    transition: 0.4s;
}
.special-offers ul li:hover{
    transform: scale(1.03);
    background-color:#ffe4ec; 
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
@keyframes floatImage{
    0%{  transform: translatey(0px);}
    50%{ transform: translatey(-15px);}
    100%{ transform: translatey(0px);}
}
@keyframes backgroundMove {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
@keyframes fadeInText{ from{
    opacity: 0;
    transform: translateY(20px);
}
 to {
    opacity:1;
    transform: translateY(0);
 }
}

@media screen and (max-width: 768px) {
    .hero{ 
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        width: 100%;
    }
    .hero img{
        width: 90%;
        margin-top: 20px;
    }
    nav li{ 
        display: block;
    margin-top: 10px;
}
}
about-page.hero{
    text-align: center;
    color: white;
    padding: 80px;
    background-size: cover;
}
.about-content{
    padding:40px;
    text-align: center;
 }
 .about-hero h1{
    color: #d81b60;
 }
 .about-hero p{
     color: #4a4a4a;
     font-style: italic;
     animation: fadeInText 3s ease-in;
    justify-content: center;
     display: flex;
     flex-wrap: wrap;
 }
 
 .about-content h2{
    color: #d81b60;
 }
 .about-content p{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
 }
.about-content img{
    width: 320px;
    border-radius: 20px;
    border: 4px solid gold;
    display: block;
    margin: 20px auto;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    animation: float 3s ease-in-out infinite;
    transition: 0.5s;
} 
.about-content img:hover{
    transform: scale(1.08);
}

@keyframes float{
    0%{transform: translatey(0px);}
    50%{transform: translatey(-10px);}
    100%{transform: translatey(0px);}
}
.product-content{
    padding: 60px 30px;
    max-width: 1300px;
    margin: auto;
}
.product-content h1{
    text-align: center;
    font-size: 48px;
    color: #2d2d2d;
    margin-bottom: 10px;
}
.intro-text{
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-bottom: 60px;

}
.category-title{
    font-size: 32px;
    color: #e887a5;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-left: 12px;
    border-left: 4px sold gold;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.product-card{
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow:0 4px 18px rgba(0,0,0,0.12);
    transition:0.3s
} 
.product-card:hover{
    transform: translateY(-8px);
}
.product-card img{
    width: 500px;
    height: 800px;
    object-fit: cover;
    display: block;
}
.product-info{
    padding: 20px;
}

.products-info h3{
    font-size: 22px;
    color: #222;
    margin-top: 10px;
}
product-info p{
    font-size: 15px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}
.price{
    color: #d4af37;
    font-size: 22px;
    font-weight: bold;
}
 
@media screen and (max-width:768px){
    
.product-content{
    padding: 40px 20px;
}
.product-content h1{
    font-size:32px ;
}
.intro-text{
    font-size: 16px;
}
.product-grid{
    grid-template-columns: 1fr;
}
.product-card img{
    height:auto;
}
}

 .order-section{ 
    padding: 40px;
    text-align: center;
 }
 .order-section h2{
    color: #d81b60
 }
 .order-form{
    width: 65%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius:8px;
    border: 1px solid #f8bbd0;
 }
 input, select, textarea{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border : 1px solid #f8bbd0;

 }
 .enquiry-box{
    width: 65%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
 }
 .enquiry-box h2{
    text-align: center;
    color: #e91e63;
 }
 .contact-content p{
    font-size: 18px;
    color:#444;
    line-height:1.8;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
 }
 .contact-content iframe{
    width: 100%;
    max-width: 900px;
    height: 400px;
    border: none;
    border-radius: 20px;
    display: block;
    margin: 30px auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.4s;
 }
 .contact-content iframe:hover{
    transform: scale(1.02);
 }
.contact-content{ 
text-align: center;
padding : 50px 30px;
background-color: #fff7fb;
 }
 .contact-content h2{
    color: #d81b60;
    font-size: 38px;
    margin-bottom: 20px;
    letter-spacing: 2px;
 }
  @media screen and (max-width:600px){
    body{
        font-size:16px;}
        h1{
            font-size: 30px;
            text-align: center;
        }
        h2{
            font-size: 26px;
            text-align: center;
        }
        p{
            font-size: 16px;
            width: 95%;
            margin: auto;
        }
        .logo{
            width: 80px;
            margin: auto;
        }
        nav ul{
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
        .product-grid{
            grid-template-columns: 1fr;
        }
        .product-card img{
            height: 200px;
         }
         .contact-content iframe{
            height: 250px;
         }
  }

@media screen and (min-width:992px){

    .container
    section,
    .content,
    .about-content,
    .products-content,
    .contact-content{
        width: 95%;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    iframe{
        max-width: 100%;
    }

}

@media screen and (max-width:768px){

    .container
    section,
    .content,
    .about-content,
    .products-content,
    .contact-content{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    iframe{
        width: 100%;
        max-width: 100%;
    }

    table{
        width: 100%;
        overflow-x: auto;
    }

}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
background: white;
padding: 30px;
border-radius: 15px;
width: 350px;
text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    border: 4px solid #ff69b4;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#welcome-message {
    margin-top: 20px;
    padding: 12px;

    background-color: #ffe4ec;
    color: #ff1493;

    border-radius: 15px;

    font-weight: bold;
}

.daily-special {
    text-align: center;
    padding: 40px;
}

#special-card {
    background-color: #fff0f5;

    width: 350px;

    margin: auto;

    padding: 20px;

    border-radius: 20px;

    border: 3px solid hotpink;

    box-shadow: 0px 5px 15px
    rgba(0,0,0,0.2);
}

.sweet-quotes {
    text-align: center;
    padding: 40px;
}

#quote-text {
    font-size: 20px;
    margin-bottom: 20px;
}

#quote-btn {
    background-color: hotpink;
    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 30px;

    cursor: pointer;

    font-size: 16px;
}

#quote-btn:hover {
    background-color: deeppink;
}

