.body{
    margin: 0;
    font-family : Verdana, sans-serif;
    background-color: #c55883;
    color: #222
}


.header{
    background-color: linear-gradient(to right, #ff69b4,#ff1493, #000000);
    text-align: center;
    padding: 20px;
}

.logo h1{
    font-size: 42px;
    margin-bottom: 5px;
    color: white;
}

.logo p{
    font-size: 18px;
    color: #ffe4ec;
}

.nav ul{
    life-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: white;
    background-color:black;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
}
nav li a:hover{
    background-color: #ffb6c1;
    color: black;
}

button:hover {
    backgound-color: black;
}

.hero {
    display: flex;
    justify-content: center;
    align-tems: center;
    padding: 50px;
    background-color: linear-gradient(to right, #cc0e8d, #f06078, #e70953);
}

.hero-text {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #ff69b4;
    color: black;
}

.hero img {
    width: 40% ;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

main{
    border-top: 5px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)1;
    padding: 30px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .hero{ 
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        width: 100%;
    }
    .hero img{
        width: 90%;
        margin-top: 20px;
    }
    nav li{ 
        display: block;
    margin-top: 10px;
}
}
