.body{
    margin: 0;
    font-family : Verdana, sans-serif;
    background-color: #c55883;
    color: #222
}
body{ background:linear-gradient( 135deg, #fff0f5, #ffd1dc, #ffb6c1, #fff5fa);
background-size: 400% 400%;
animation: backgroundMove 12s infinite ease;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

.header{
    background-color: linear-gradient(to right, #ff69b4,#ff1493, #000000);
    text-align: center;
    padding: 20px;
}
.logo h1{
    animation: glowText 3s infinite alternate;
}
@keyframes glowText{
    from{
        text-shadow: 0 0 8px #ff69b4;
    }
    to{
        text-shadow:
        0 0 15px #ff1493,
        0 0 25px #ffd700;
        
    }
}

.logo h1{
    font-size: 42px;
    margin-bottom: 5px;
    color: rgb(252, 9, 122);
}

.logo p{
    font-size: 18px;
    color: #e90878;
}

.nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: white;
    background-color:black;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
}
nav li a:hover{
    background-color: #ffb6c1;
    color: black;
}

button:hover {
    background-color: black;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: linear-gradient(to right, #cc0e8d, #f06078, #e70953);
}

.hero-text {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #ff69b4;
    color: black;
}

.hero img {
    width: 40% ;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.hero img{
    animation: floatImage 4s ease in-out infinite;
}
.hero-ext p{
    color: #4a4a4a;
    font-style: italic;
    animation: fadeInText 3s ease-in;
}
main{
    border-top: 5px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)1;
    padding: 30px;
    p{
        font-size : 20px;
        line-height: 1.8;
        color: #2b2b2b; 
        text-align:center;
        letter-spacing: 1px;
        padding: 10px;
    }
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
@keyframes floatImage{
    0%{  transform: translatey(0px);}
    50%{ transform: translatey(-15px);}
    100%{ transform: translatey(0px);}
}
@keyframes backgroundMove {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
@keyframes fadeInText{ from{
    opacity: 0;
    transform: translateY(20px);
}
 to {
    opacity:1;
    transform: translateY(0);
 }
}

@media screen and (max-width: 768px) {
    .hero{ 
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        width: 100%;
    }
    .hero img{
        width: 90%;
        margin-top: 20px;
    }
    nav li{ 
        display: block;
    margin-top: 10px;
}
}
about-page.hero{
    text-align: center;
    color: white;
    padding: 80px;
    background-size: cover;
}
.about-content{
    padding:40px;
    text-align: center;
 }
 .about-hero h1{
    color: #d81b60;
 }
 .about-hero p{
     color: #4a4a4a;
     font-style: italic;
     animation: fadeInText 3s ease-in;
    justify-content: center;
     display: flex;
     flex-wrap: wrap;
 }
 
 .about-content h2{
    color: #d81b60;
 }
 .about-content p{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
 }
.about-content img{
    width: 320px;
    border-radius: 20px;
    border: 4px solid gold;
    display: block;
    margin: 20px auto;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    animation: float 3s ease-in-out infinite;
    transition: 0.5s;
} 
.about-content img:hover{
    transform: scale(1.08);
}

@keyframes float{
    0%{transform: translatey(0px);}
    50%{transform: translatey(-10px);}
    100%{transform: translatey(0px);}
}


.product-card{
    width: 45%;
    float: left;
    margin: 2%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  
    transition: 0.4s;
} 
.product-card:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}
.product-image {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    border: 2px solid gold;
}
.product-title{
    color: #d63384;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.products-description p{
    color: #444;
    font-size: 16px;
    line-height: 1.5;
}
.product-price{
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}
 .product-grid{
    content:"";
    clear: both;
    display: table;
 }

 .order-section{ 
    padding: 40px;
    text-align: center;
 }
 .order-section h2{
    color: #d81b60
 }
 .order-form{
    width: 65%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius:8px;
    border: 1px solid #f8bbd0;
 }
 input, select, textarea{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border : 1px solid #f8bbd0;

 }
 .enquiry-box{
    width: 65%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
 }
 .enquiry-box h2{
    text-align: center;
    color: #e91e63;
 }
 input,select,textarea{
    width: 100%
 }

 .contact-section{ 
text-align: center;
padding : 40px;
 }
 .contact-section h2{
    color: #d81b60;
 }
 form{
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow:0 5px 12px rgba(0,0,0,0.15);
 }
 


